{% extends 'app_number/base.html' %}
{% block title %}Home {% endblock title %}

{% block main_content %}

<h1 class="text-center py-4">Live Number Contribution App</h1>
<div class="container p-3 rounded border border-success ">
    <div class="d-flex flex-row gap-3">
        <div class="p-2 w-50">
            <form method="POST">
                {% csrf_token %}
                <div class="input-group flex-nowrap mb-4">
                    <span class="input-group-text" id="addon-wrapping">::</span>
                    <input type="text" class="form-control" name="new-statistic" placeholder="Add new statistic">
                    <button type="submit" class="btn btn-secondary">Add</button>
                </div>
            </form>
        </div>
        
        <div class="p-2 w-50">
            {% if qs %}
                <ul class="list-group">
                    {% for item in qs %}
                    <li class="list-group-item">{{ item.name }}  <a href="{{item.get_absolute_url}}">Go to dashboard</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No data available!</p>
            {% endif %}
        </div>
      </div>
</div>

{% endblock main_content %}